
.red-span{
    color: #F08080;
}

.header-buttons{
    padding: 20px;
    background-color: #333333;
}

.button-logout{
    margin-left: 8px;
}

.header-text{
    color: #f4f4f4;
    padding-top: 8px;
}






