
.red-span{
    color: #F08080;
}

.header-wrapper{
    padding: 20px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-buttons{
    display: flex;
}

.button-delete,.button-logout,.button-about, .button-add{
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
}

.button-delete,.button-logout{
    background-color: #dc3545;
    border-color: #dc3545;
}

.button-about, .button-add{
    background-color: #198754;
    border-color: #198754;
}

.button-about:hover, .button-add:hover{
    background-color:  #157347;
}

.button-delete:hover, .button-logout:hover{
    background-color:  #bb2d3b;
}

.button-logout{
    margin-left: 8px;
}

.header-text{
    color: #f4f4f4;
    padding-top: 8px;
}

.todo-list{
    width: 52%;
    border-collapse: collapse;
    background-color: #ffffff;
    margin: auto;
}

.todo-row{
    padding: 0;
    margin: 0;
}

.todo-number, .todo-text, .todo-buttons{
    border: 1px solid  #F08080;
    padding: 8px;
}

.todo-number{
   text-align: center;
}

#new-task{
    border: 1px solid #adadad;
    font-size: 16px;
    border-radius: 4px;
    padding: 4px;
    margin: 20px;
}
